@font-face {
    font-family: 'jo-light';
    src: url(Fonts/JosefinSans-Light.05518b75.ttf);
}

@font-face {
    font-family: 'jo-variable';
    src: url(Fonts/JosefinSans-VariableFont_wght.89302acc.ttf);
}

body {
    font-family: 'jo-light';
}

.logo>img {
    width: 100px;

}

.nav-space {
    padding: 15px 25px !important;
    height: 80px !important;
    background-color: #fff !important;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #dadce0 !important;


}

.manu {
    font-size: 17px;
    cursor: pointer;
    color: #0d6db7;
    font-family: 'jo-variable' !important;
}

.container-xl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
}

/* Hero Section Start */

.parent-hero {
    background-color: #E9ECEF;
    /* z-index: 2; */

}

.quick {
    display: flex;
    justify-content: center !important;
    height: 600px;
    padding-top: 50px;
    box-sizing: -box;
}

.head-one>h1 {
    font-family: 'jo-light';
    color: #0d6db7;
    font-size: 68.8px;
    text-align: center;
}

.head-tow>h2 {
    font-family: 'jo-light';
    color: #000;
    text-align: center;
    font-size: 51.2px;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: 'jo-light';
    text-align: center;
    margin-bottom: 15px;
}

.lead-bold {
    font-family: 'jo-variable';
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.google-btn {
    background-color: #fff;
    border: none !important;
    padding: 5px 10px;
    align-items: center;
    text-align: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.google-btn>img {
    margin-right: 10px;
}

button {
    border: none;
}

.button-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'jo-variable';
}

.footer {
    box-sizing: border-box;
    text-align: center;
    font-family: 'jo-variable';
    font-size: 18px;
}

.footer>a {
    text-decoration: none;
    word-spacing: 1.5px;
}
a{
    text-decoration: none;
}
@media only screen and (max-width: 524px) {
    .quick {
        display: flex;
        justify-content: center !important;
        height: 900px;
        padding-top: 50px;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 960px) {
    .quick {
        display: flex;
        justify-content: center !important;
        height: 900px;
        padding-top: 50px;
        box-sizing: border-box;
    }
}

/* Hero Section End   */


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Second-page-start>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.home-section {
    padding: 30px;
}

.head-one-hm {
    color: #0d6db7;
    font-family: 'jo-light';
}

.head-tow-hm h2 {
    font-size: 15px;
    font-family: 'jo-variable';
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 20px;
    /* width: 1122px; */
    
}

/* boxes_Start */
.section
{
max-width: 1200px;
margin: auto;
}
.box-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
}

.box {
    padding: 40px;
    border: 0.5px solid #dadce0;
    width: 350px;
    margin-bottom: 20px;
    border-radius: 5px;
   

}

.submit-join {
    border: 1px solid #0d6db7;
    padding: 5px 120px;
    background: #fff;
    font-size: 20px;
    font-family: 'jo-variable';
    color: #0d6db7;
}

.box-center {
 margin-bottom: 20px;
}

.box h3 {
    font-family: 'jo-variable';
    font-size: 16px;
    color: #6c757d;
    padding-bottom: 15px;
}

.box h2 {
    font-family: 'jo-variable';
    font-size: 25px;
    color: #000;
}


@media only screen and (max-width: 380px)
{
    .box-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-items: center;
    }


    .box {
        padding: 30px;
        border: 0.5px solid #dadce0;
        width: 350px;
        margin-bottom: 20px;
    }

}

/* boxes_ End */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Second-page- End >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  */
